<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name="de.pyryco.mobile.ui.components.MobileModalTestIme"
            android:exported="true"
            android:label="Mobile modal test keyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/mobile_modal_test_ime" />
        </service>
    </application>
</manifest>
